@model NotForgottenCore.Models.Group
@using NotForgottenCore.Models

@*@{
    if (Model.Members == null)
    {
        Model.Members = new List<GroupMember> { };
    }
    for (var count = Model.NumberSeats; count > 0; count--)
    {
        GroupMember member = new GroupMember();
        Model.Members.Add(member);
    }

}*@

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_GroupPartial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberSeats" class="control-label"></label>
                <input asp-for="NumberSeats" class="form-control" />
                <span asp-validation-for="NumberSeats" class="text-danger"></span>
            </div>
            <input asp-for="TableId" type="hidden" />
            <input asp-for="Id" type="hidden" />
            <partial name="_GroupMemberPartial" for="Members" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

