@model NotForgottenCore.Models.Group
@using NotForgottenCore.Models

@{
    int amount = Model.GetPrice();

    Router router = new Router { Action = "_GroupCreate", Controller = "Tables" };
    router.RouteValue.Add("Amount", amount.ToString());
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="_GroupCreate" id="MainForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <input asp-for="NumberSeats" type="hidden" />
            <input asp-for="TableId" type="hidden" />
            <input asp-for="Id" type="hidden" />
            <partial name="_GroupMemberPartial" for="Members" />
            <div class="form-group">
                <partial name="_PaymentPartial"
                         model=router />
                <input type="submit" value="Reserve" class="btn btn-block btn-success mt-2" />
            </div>
        </form>
    </div>
</div>
@*@section scripts{*@
<partial name="_PaymentPartialScript"
         model=router />
@*}*@
