@model NotForgottenCore.Models.Table
@using Microsoft.AspNetCore.Http;
@{
    string tableNo = Model.Id.ToString();
    List<SelectListItem> seatList = Model.GetSelectLists();
    @*int i = Model.OpenSeats;
           if
        List<SelectListItem> seatList = new List<SelectListItem> { };
        seatList.Add(new SelectListItem() { Text = "0", Value = "0" });
        while (i > 0)
        {
            seatList.Add(new SelectListItem() { Text = i.ToString(), Value = i.ToString() });
            i--;
        }*@
}

<h3 class="text-center">
    Table @tableNo
</h3>
<div>
    <hr />

    @if (!User.Identity.IsAuthenticated)
    {
        <H5 class="text-center">
            Please <a asp-controller="ApplicationUser"
                      asp-action="Login">login</a> to reserve a table
        </H5>
    }
    else
    {
        <div class="text-center">
            @{
                if (Model.OpenSeats > 7)
                {
                    <h4>Select number of seats: </h4>
                    @Html.DropDownList("seats", new SelectList(seatList, "Value", "Text"), new { id = "ddList", onchange = "getchange(this);" })
                }
                else
                {
                    <h2 class="text-danger"><strong>The table is full</strong></h2>
                }
            }

        </div>
        <div id="seatData2">
        </div>
    }

    @if (Model.Groups != null && Model.Groups.Count > 0)
    {
        <hr />
        <h4 class="text-center">Reservation List</h4>
        <div class="row">
            @foreach (var group in Model.Groups)
            {
                <div class="col-md-4">
                    <partial name="_GroupDisplayPartial" model="group" />
                </div>
            }
        </div>
    }
</div>
