@model IEnumerable<NotForgottenCore.Models.Table>
@{
    ViewData["Title"] = "TableApp";
}


@using NotForgottenCore.Models;

@{
    List<Table> tables = Model.ToList();
    ViewBag.Title = "TableApp";
    string table3 = "images/tables/Table" + tables[2].OpenSeats.ToString() + ".png";
    string table4 = "images/tables/Table" + tables[3].OpenSeats.ToString() + ".png";
    string table2 = "images/tables/Table" + tables[1].OpenSeats.ToString() + ".png";
    string table1 = "images/tables/Table" + tables[0].OpenSeats.ToString() + ".png";
    string table5 = "images/tables/Table" + tables[4].OpenSeats.ToString() + ".png";
    string table6 = "images/tables/Table" + tables[5].OpenSeats.ToString() + ".png";
    string table7 = "images/tables/Table" + tables[6].OpenSeats.ToString() + ".png";
    string table8 = "images/tables/Table" + tables[7].OpenSeats.ToString() + ".png";
}

@section scriptsTop{
    <script src="https://js.stripe.com/v3/"></script>
}

<div class="container-fluid justify-content-center">
    <div class="display-4 text-center" id="intro">
        Reserve your seats!
    </div>
    <br />
    <div id="seatData">
    </div>
</div>
<hr />
<div id="tableArea" class="container-fluid" style="max-width: 550px;">
    <div class="row justify-content-center pb-3">
        <div class="col-6">
            <img class="img-fluid" src="images/tables/VideoScreen.png" />
        </div>
    </div>
    <div class="row pb-1">
        <!-- First Row of Tables -->
        <div class="col-3">
            <a id="1" href="default.asp">
                <img class="img-fluid" src=@table1 />
            </a>
        </div>
        <div class="col-3">
            <a id="2" href="default.asp">
                <img class="img-fluid" src=@table2 />
            </a>
        </div>
        <div class="col-3">
            <a id="3" href="default.asp">
                <img class="img-fluid" src=@table3 />
            </a>
        </div>
        <div class="col-3">
            <a id="4" href="default.asp">
                <img class="img-fluid" src=@table4 />
            </a>
        </div>
    </div><!-- END First Row of Tables -->
    <div class="row pb-1">
        <!-- Second Row of Tables -->
        <div class="col-3">
            <a id="5" href="default.asp">
                <img class="img-fluid" src=@table5 />
            </a>
        </div>
        <div class="col-3">
            <a id="6" href="default.asp">
                <img class="img-fluid" src=@table6 />
            </a>
        </div>
        <div class="col-3">
            <a id="7" href="default.asp">
                <img class="img-fluid" src=@table7 />
            </a>
        </div>
        <div class="col-3">
            <a id="8" href="default.asp">
                <img class="img-fluid" src=@table8 />
            </a>
        </div>
    </div><!-- END Second Row of Tables -->
    <div class="row pb-1">
        <!-- First Row of non-reservable Tables -->
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
    </div><!-- END First Row of non-reservable Tables -->
    <div class="row pb-1">
        <!-- Second Row of non-reservable Tables -->
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
    </div><!-- END Second Row of non-reservable Tables -->
    <div class="row pb-1">
        <!-- Third Row of non-reservable Tables -->
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
        <div class="col-3">
            <img class="img-fluid" src="images/tables/Table0.png" />
        </div>
    </div><!-- END Third Row of non-reservable Tables -->
</div><!-- container -->

@section scripts{
    <script>
        var id;
        $('#tableArea').find('a').on('click', function (e) {
            e.preventDefault();
            id = $(this).attr('id');
            $.get("@Url.Action("_TablePartial", "Tables")?Id=" + id, function (res) {
                $('#seatData').html(res);
            });
            document.getElementById("intro").innerHTML = "";
        });
        function getchange(sel) {
            $.get("@Url.Action("CreatePartial", "Groups")?nbrSeats=" + sel.value + "&tableId=" + id, function (res2) {
                $('#seatData2').html(res2);
            });
        };
    </script>
}
