@model NotForgottenCore.Models.Horse
@using NotForgottenCore.Models

@{
    //*****CT**** Should add router object to other models so we don't need to create in each view
    ViewData["Title"] = "Create";
    Router router = new Router { Action = "Create", Controller = "Horse" };
    router.RouteValue.Add("Amount", "1000");
    router.RouteValue.Add("Description", "NotForgotten Horse");
}

@section scriptsTop{
    <script src="https://js.stripe.com/v3/"></script>
}

<h4>Horse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="MainForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer" class="control-label"></label>
                <input asp-for="Trainer" class="form-control" />
                <span asp-validation-for="Trainer" class="text-danger"></span>
            </div>
            <input type="number" class="d-none" name="raceId" value=@ViewData["raceId"]>
            <input type="number" class="d-none" name="laneId" value=@ViewData["laneId"]>
            <input type="number" class="d-none" name="year" value=@ViewData["year"]>
            <div class="form-group">
                <partial name="_PaymentPartial" 
                    model=router />
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section scripts{
    <partial name="_PaymentPartialScript"
             model=router />
}