<script src="https://js.stripe.com/v3/"></script>

<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" name="radio" id="payCash" value="payCash">
    <label class="custom-control-label" for="payCash">Pay Check/Cash</label>
</div>
<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" name="radio" id="payCard" checked>
    <label class="custom-control-label" for="payCard">Pay with Card</label>
</div>
<div class="form-row flex-column">
    <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
</div>
