@model NotForgottenCore.Models.Router
@using Newtonsoft.Json;

@{
    var amount = Model.RouteValue["Amount"];

    //Format Amount for display
    var intAmount = Convert.ToInt32(amount);
    var decimalAmount = (decimal)intAmount / 100;
    var displayAmount = String.Format("{0:0.00}", decimalAmount);
}

<div class="form-group" id="total"><h2>$@displayAmount</h2></div>
<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" name="radio" id="payCash" checked>
    <label class="custom-control-label" for="payCash">Pay Check/Cash</label>
</div>
<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" name="radio" id="payCard">
    <label class="custom-control-label" for="payCard">Pay with Card</label>
</div>
<div class="form-row flex-column">
    <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
</div>
