<script src="https://js.stripe.com/v3/"></script>

@*<form asp-action="Pay" asp-controller="Payment" id="payment-form">*@
<div class="form-row flex-column">
    <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
</div>
@*
<button>Submit Payment</button>
    </form>
*@
<script>
    // Create a Stripe client.
    // ****CT**** Need to parameterize this
    var stripe = Stripe('pk_test_N2HYRBeaiImpxPRGc3rc44ly');

    // Create an instance of Elements.
    var elements = stripe.elements();

    var style = {
        base: {
            color: '#32325d',
            lineHeight: '18px',
            width: '200px',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    //******CT TEST*******

    function submitForm() {
        return $.ajax({
            type: "POST",
            url: '@this.Url.Action("Create", "Horse")',
            data: $('#CreateForm').serialize(),
        });
    };

    function submitCard(token) {
        var myData = JSON.stringify({ "stripeToken": token });
        debugger;
        $.ajax({
            url: '@this.Url.Action("Pay", "Payment")',
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: myData,
            success: function (result) {
                alert(result);
            }
    }

    // Handle form submission.
    var form = document.getElementById('CreateForm')
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                var stripeToken = result.token.id;
                submitCard(stripeToken).done(function () {
                    submitForm();
                });
            }
        });
    });

    // Handle form submission.
    //var form = document.getElementById('payment-form');
    //form.addEventListener('submit', function (event) {
    //    event.preventDefault();

    //    stripe.createToken(card).then(function (result) {
    //        if (result.error) {
    //            // Inform the user if there was an error.
    //            var errorElement = document.getElementById('card-errors');
    //            errorElement.textContent = result.error.message;
    //        } else {
    //            // Send the token to your server.
    //            stripeTokenHandler(result.token);
    //        }
    //    });
    //});

    //// Submit the form with the token ID.
    //function stripeTokenHandler(token) {
    //    // Insert the token ID into the form so it gets submitted to the server
    //    var form = document.getElementById('payment-form');
    //    var hiddenInput = document.createElement('input');
    //    hiddenInput.setAttribute('type', 'hidden');
    //    hiddenInput.setAttribute('name', 'stripeToken');
    //    hiddenInput.setAttribute('value', token.id);
    //    form.appendChild(hiddenInput);

    //    // Submit the form
    //    form.submit();
    //}
</script>