@model List<NotForgottenCore.Models.Race>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach (var lane in @Model)
{
    <div class="row mt-2 border">
        <partial name="_LanePartial" model="lane" />
    </div>
}