@{
    ViewData["Title"] = "About";
}
<div>
<h2>About Not Forgotten</h2>
</div>
<p>Not Forgotten is a non-profit operated out of Cincinnati, Ohio. 100 percent of the money raised goes to cancer research. The foundation has raised over $100,000 to date</p>
<div class="mt-5">
    <a 
class="text-dark"
asp-controller="Home"
       asp-action="Contact">
        Contact Us
    </a>
</div>