
@{
    ViewData["Title"] = "Night at the Races";
}
<div class="d-none d-md-block text-center">
<h2>“We have lost loved ones to Cancer, but they are Notforgotten”</h2>
    </div>
<div class="d-md-none text-center">
    <h5>“We have lost loved ones to Cancer, but they are Notforgotten”</h5>
</div>
<hr />
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xl-4 align-self-center">
            <img src="~/images/Hansee.jpg" class="img-fluid pb-2" />
        </div>
        <div class="col-xl-8">
            <div class="row">
                <p>
                    We have lost loved ones to cancer and
                    wish to raise funds and awareness for cancer research.  We are very sad to say, we lost an instrumental
                    team member, our announcer, Jeff Hansee, to a rare cancer. Thanks to the effort of many, we have
                    raised over $125,000 since starting our organization. As we enter our ninth year of fundraising, we are
                    hopeful for another successful night filled with great prizes for a great cause. 100% of the funds raised
                    will benefit the Stefanie Spielman Fund for Breast Cancer Research, the James Cancer Hospital and
                    Solove Research Institute (Federal ID#: 31-1145986), and Hospice of Cincinnati (Federal ID#: 31-
                    0537122).
                    <br /><br />
                    We are organizing our annual “Night at the Races” to be held April 27, 2019 where we will have baskets
                    available for various raffles. We are hopeful that you would be willing to make a donation toward our
                    fundraising efforts to be a part of finding a cure to cancer. A basket, monetary donation, tickets and/or
                    discount tickets, or a gift card donation could help us fill the baskets for the raffles. Your donation will
                    make a difference, no matter the amount. Thank you for your consideration!
                </p>
            </div>
        </div>
    </div>
</div>